.intro{
    background-color: rgb(240, 233, 230);
    height: 100vh;
     height: calc(100vh-70px);
     scroll-snap-align: start;
     /* margin-top: 10px; */
     top: 70px;
//       border: 5px solid rgb(0, 102, 255); 
     /* z-index: 2; */
     position: relative;
     display: flex;

}
.left{
    flex: 0.5;
    /* display: flex;
    align-items: flex-end ; */
    /* justify-content:center; */

}
.right{
    flex: 0.5;
    display: flex;
    align-items: center;
    // padding-left: 70px;
    justify-content: center;
    flex-direction: column;
    // margin-right: 15px;
    position: relative;
    
        h1{
            font-size: 40px;
            font-weight: 500;
            margin: 0px;
            padding: 0px;
        }
        h2{
            font-size: 40px;
            font-weight: 500;
            margin: 0px;
            padding: 0px;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        h3{
            font-size: 40px;
            font-weight: 500;
            margin: 0px;
            padding: 0px;
        }

        a{
            position: absolute;
            bottom: 10px;
            img{
                width: 50px;
                height: 50px;
                // font-size: 40px;
                animation: arrowblink 2s infinite;
            }
            @keyframes arrowblink {
                100%{
                opacity: 0;
                }
            }
        }
    
}
.imgcontainer{
    width: 100%;
//     height: 100vh;
    height : 100%;
    background-color: crimson;
    display: flex;
    align-items: flex-end ;
    justify-content:center;
    border-radius: 50%;
//     border: 1px solid blue;

}
.img{
    width: 500px;
    height: 600px;
}



@media only screen and (max-width: 700px) {
    
  
    .intro{
        flex-direction: column;
        height: auto;
    }
    
   

  }
@media only screen and (max-width: 400px) {
    
  
    .intro{
        flex-direction: column;
        height: auto;
    }
    .imgcontainer{
        margin-top: 100px;

    }
    .img{
        height: 400px;
    }
   

  }
