.item{

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    position: relative;
    color: white;
    // margin: 10px 20px;
    margin-bottom: 30px;
    margin-top: 25px;
    border-radius: 20px;
    transition: all 1s ease;

    img{
        width: 250px;
        height: 170px;
        object-fit: cover;
        z-index: 1;
        border-radius: 20px;
        
        
    }
    h3{
        position: absolute;
    }
    &:hover{
        transition: all 1s ease;
        cursor: pointer;
        background-color: gray;
        img{
            opacity: 0.2;
            // z-index: -1;
        }
        h3{
            z-index: 2;
        }
    }
}