
.app{
    height: 100vh;
    scrollbar-width: none;

}
.section{
    height: calc(100vh-70px);
    scroll-snap-type:y mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
    z-index: 2;
    /* background-color: wheat; */
    
}
.app ::-webkit-scrollbar{
    display: none;
}
.section ::-webkit-scrollbar{
    display: none;
}

/* .dddd{
    height: auto;
} */